<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Interactive Party Game!</title>

        <link rel="stylesheet" href="styles.css">
        
        <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
        <!-- <script src="/socket.io/socket.io.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

        <script src="/scripts/create_prompts_scripts.js"></script>
    </head>

    <body>
        <div class="topbar">
            <a id="title" href="/">Another interactive party game</a>
            <a id="createPromptLink" href="/create-prompt">Create prompt set</a>
        </div>

        <div class="centered">
            <h1 id="createPromptTitle">Enter a category title and questions to create a prompt set!</h1>

            <div class="centered" id="newPromptDataBox">
                <input type="text" maxlength="20"  id="categoryInput" placeholder="Enter category title"><br>
    
                <div class="promptInputDiv">
                    <input type="text" maxLength="100" class="promptInput" placeholder="Enter prompt"><button class="addPromptButton">+</button>
                </div>
                
            </div>

            <button id="submitPromptDataButton">Submit</button>
        </div>

        
        
    </body>

</html>