<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Interactive Party Game!</title>

        <link rel="stylesheet" href="styles.css">
        
        <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        
        <script type="module" src="/scripts/game_page_sockets.js"></script>

    </head>

    <body>
        <div class="topbar">
            <a id="title" href="/">Another interactive party game</a>
        </div>

        <div id="setupGameDiv">
            <div class="centered">
                <h1 id="gameCodeTitle">Game code: </h1>

                <div class="centered enterDetailsBox">
                    <input type="text" maxlength="10"  id="nicknameInput" placeholder="Enter your nickname"><br>
                    <p id="nicknameWarning" max hidden>Nickname must be 10 characters or less</p><br>
                    <button id="nicknameButton">Confirm nickname</button>
                </div>


                <div id="displayPlayersBox">
                    <br><br>
                    <p id="connectedPlayers"></p>
                    
                    <div id="playersList"></div>
                </div>


                <div id="categoriesBox">
                    <div id="selectCategoryBox"></div>
                </div>
                

                <div id="startGameButtonDiv"></div>

            </div>
        </div>

        <div class="centered" id="playGameDiv" hidden>

            <div id="displayPromptDiv"></div>

            <div id="answerInputDiv" class="centered enterDetailsBox"></div>

            <div id="vipMessageDiv"></div>
        </div>
    </body>
</html>