<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Interactive Party Game!</title>

        <link rel="stylesheet" href="styles.css">
        
        <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        
        <script type="module" src="/scripts/game_page_sockets.js"></script>

    </head>

    <body>
        <div class="topbar">
            <p id="title">Another interactive party game</p>
        </div>

        <div class="centeredNew">
            <h1 id="gameCodeTitle">Game code: </h1>

            <div class="centeredNew enterDetailsBox">
                <input type="text" maxlength="10"  id="nicknameInput" placeholder="Enter your nickname"><br>
                <p id="nicknameWarning" max hidden>Nickname must be 10 characters or less</p><br>
                <button id="nicknameButton">Confirm nickname</button>
            </div>


            <div class="displayPlayersBox">
                <br><br>
                <div id="playersList">
                    <!-- <p id="displayPlayer">Name here</p> -->
                </div>
                <!-- <p id="players">Players' nicknames to be displayed here</p> -->
            </div>

            <button id="startGameButton">Start game</button>
        </div>

    </body>
</html>