<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Interactive Party Game!</title>

        <link rel="stylesheet" href="styles.css">
        
        <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
        <!-- <script src="/socket.io/socket.io.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

        <script src="/scripts/index_scripts.js"></script>
    </head>

    <body>
        <div class="topbar">
            <p id="title">Another interactive party game</p>
        </div>

        <div class="centered">
            <h1 id="newGameTitle">Click here to create a new game!</h1>
            <button id="newGameButton">New game</button><br><br>
        </div>
        

        <div class="centered enterDetailsBox">
            <h1 id="joinGameTitle">Enter details to join a game!</h1>

            <input type="text" maxlength="4" class="gameInputs" id="gameCode" placeholder="Enter game code"><br>

            <!-- <input type="text" maxlength="10" class="gameInputs" id="nicknameIndexInput" placeholder="Enter your nickname"><br> -->

            <button id="joinGameButton">Join game</button>
        </div>

    </body>

</html>